<?xml version="1.0"?>
<!--
  Copyright (c) 2024.
  wot2304@gmail.com
  Yanis Yeltsyn
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
        </resources>
    </acl>
</config>
