<?xml version="1.0"?>
<!--
  Copyright (c) 2024.
  wot2304@gmail.com
  Yanis Yeltsyn
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mondu>
                <debug>1</debug>
                <active>0</active>
                <model>Mondu\Mondu\Model\Payment\Mondu</model>
                <mondu_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <order_status>pending</order_status>
                <title>Pay later via bank transfer</title>
                <description></description>
                <sandbox>1</sandbox>
                <is_sandbox></is_sandbox>
                <sandbox_url>https://api.demo.mondu.ai/api/v1</sandbox_url>
                <production_url>https://api.mondu.ai/api/v1</production_url>
                <sandbox_sdk_url>https://checkout.demo.mondu.ai/widget.js</sandbox_sdk_url>
                <sdk_url>https://checkout.mondu.ai/widget.js</sdk_url>
                <cron>0</cron>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
                <sort_order>1</sort_order>
                <send_lines>1</send_lines>
                <require_invoice>1</require_invoice>
            </mondu>
            <mondusepa>
                <sort_order>2</sort_order>
                <active>0</active>
                <debug>1</debug>
                <model>Mondu\Mondu\Model\Payment\MonduSepa</model>
                <order_status>pending</order_status>
                <description></description>
                <title>Pay later via SEPA Direct Debit</title>
            </mondusepa>
            <monduinstallment>
                <sort_order>3</sort_order>
                <active>0</active>
                <debug>1</debug>
                <model>Mondu\Mondu\Model\Payment\MonduInstallment</model>
                <order_status>pending</order_status>
                <description></description>
                <title>Split Payments</title>
            </monduinstallment>
            <monduinstallmentbyinvoice>
                <sort_order>4</sort_order>
                <active>0</active>
                <debug>1</debug>
                <model>Mondu\Mondu\Model\Payment\MonduInstallmentByInvoice</model>
                <order_status>pending</order_status>
                <description></description>
                <title>Pay Later in Installments via Bank Transfer</title>
            </monduinstallmentbyinvoice>
        </payment>
    </default>
</config>
